AI Audio Summarization and Speech Generation.json
{
  "name": "AI Workflow: AI Audio Summarization and Speech Generation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -480,
        32
      ],
      "id": "05a3a696-6670-4b29-8d3a-49659286463e",
      "name": "When chat message received",
      "webhookId": "75418775-19d4-4b8f-b80f-811ccdff3ffc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a precision summarizer.\n\nConvert the following transcript into meeting-style meeting minutes.\n\nSTRICT RULES:\n- Output ONLY bullet points.\n- No introductions.\n- No conclusions.\n- Maximum 10–15 words per bullet.\n- Start each point with an action verb whenever possible."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        32
      ],
      "id": "038887a6-5ba7-4b28-a01c-dd5697aba1cd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        272,
        256
      ],
      "id": "07187fea-1d14-404f-beea-f8d50d2b5a8a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cfIrRnHm8ynBwamJ",
          "name": "Google Gemini(PaLM) Api account 10760"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        32
      ],
      "id": "45280fd9-c94e-4273-b6ff-a374c115af11",
      "name": "Download audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        32
      ],
      "id": "26131c92-4341-4cbe-acd0-6647b4a2e5e4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global.api.murf.ai/v1/speech/stream",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_276517d8-74f1-4bd2-95d4-97b9b4f3955f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "voiceId",
              "value": "Nikhil"
            },
            {
              "name": "style",
              "value": "Conversational"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "locale",
              "value": "en-IN"
            },
            {
              "name": "model",
              "value": "FALCON"
            },
            {
              "name": "format",
              "value": "WAV"
            },
            {
              "name": "sampleRate",
              "value": "24000"
            },
            {
              "name": "channelType",
              "value": "MONO"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        32
      ],
      "id": "dc6cf6f8-b1d7-480c-a06a-265f0664062f",
      "name": "Download audio1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Download audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5d6a07a6-0e29-4820-8d78-cebc78c172c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "gknbPFFqNHNASetm",
  "tags": []
}