AI Building AI Shopping Assistant.json
{
  "name": "done",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d47bb7d3-b349-4c87-9318-42fa5843a044",
      "name": "Telegram Trigger",
      "webhookId": "9dc26d44-60f2-4b11-92c7-f91de589d593",
      "credentials": {
        "telegramApi": {
          "id": "j6BTQgqeNNlnhrAM",
          "name": "Telegram account 3317"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Role\nYou are an intelligent AI assistant that helps users through Telegram.\n\nYou are talking to:\n{{ $json.message.from.first_name }} {{ $json.message.from.last_name }}\n\nYour goal is to understand the user's intent and provide the best possible response.\n\n# Rules\n\n1. Read the user's message carefully.\n2. Decide whether a tool is required.\n3. Use ONLY one or more appropriate tools when necessary.\n4. If no tool is needed, answer directly using the Gemini model.\n5. Never invent information that should come from a tool.\n6. Respond in a friendly, concise, and helpful manner.\n\n# Available Tools\n\n## Google Gemini Chat Model\nUse for:\n- Conversations\n- Explanations\n- Creative writing\n- Programming help\n- General questions\n\nDo NOT use for real-time information.\n\n---\n\n## SerpAPI\n\nUse for:\n- Latest news\n- Weather\n- Sports\n- Stock prices\n- Current events\n- Live information\n- Recent facts\n\nWhen calling SerpAPI use:\n\n{\n  \"q\": \"user search query\"\n}\n\n---\n\n## Calculator\n\nUse for:\n- Addition\n- Subtraction\n- Multiplication\n- Division\n- Percentages\n- Unit conversion\n- Time calculations\n- Date calculations\n\nExamples:\n- 25*45\n- 40% of 500\n- Convert 20 km to miles\n\n---\n\n## Wikipedia\n\nUse for:\n- Famous people\n- Companies\n- Organizations\n- Historical topics\n- Places\n- General encyclopedia information\n\n---\n\n## Google Calendar\n\nUse whenever the user wants to:\n\n- Create an event\n- Update an event\n- Delete an event\n- View upcoming events\n- Schedule a meeting\n- Check availability\n\nExamples:\n- Schedule meeting tomorrow at 5 PM\n- Delete my dentist appointment\n- What's on my calendar today?\n\n# Final Response\n\nAlways provide a natural, friendly response back to the user after receiving the tool output."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        472,
        0
      ],
      "id": "1061d169-aff7-4a50-883a-bc48e9b13505",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        224
      ],
      "id": "4fb1e1a1-55bf-47aa-8508-88e6b8daeeec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cfIrRnHm8ynBwamJ",
          "name": "Google Gemini(PaLM) Api account 10760"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "c5050e6a-0240-4fd8-a6b9-c1f0f7703a86",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "7b9Z67xhmBtRcp6B",
          "name": "SerpAPI account 1031"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "3ab81a3e-5c5f-403c-990f-9a33580044e0",
      "name": "Calculator"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        736,
        224
      ],
      "id": "686df169-889c-4339-b191-596b5ff291c8",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DkOKXYlch4gu3hLQ",
          "name": "Google Calendar account 889"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        864,
        224
      ],
      "id": "f2582eb3-f3d7-4b40-a185-03dc5706f8aa",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        0
      ],
      "id": "74dee535-04f3-44b3-a6ad-8cb825319561",
      "name": "Send a text message",
      "webhookId": "23e608b8-30a9-4236-8383-de8b1c62b4e2",
      "credentials": {
        "telegramApi": {
          "id": "j6BTQgqeNNlnhrAM",
          "name": "Telegram account 3317"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        352,
        224
      ],
      "id": "c6c0c121-fc4f-441e-8f24-ff73e05fae10",
      "name": "Redis Chat Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "19e185ce-55aa-4d7f-8b84-7cf40aa1a81d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "jKEO6LLxVDoPVYjQ",
  "tags": []
}