AI Podcast Generator.json
{
  "name": "Podcast test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "{{$json.body.text}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer. Create engaging, informative podcast content based on the given topic:{{ $json.body.text }} \n\nLength should be 2 minute when spoken. Just give the content only without labelling "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        224,
        -80
      ],
      "id": "0d9e72e6-dd40-4b63-b66e-069ed48a6991",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemma-4-31b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        296,
        144
      ],
      "id": "04dc0488-c1f7-49d6-9382-cb1afa717f03",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cfIrRnHm8ynBwamJ",
          "name": "Google Gemini(PaLM) Api account 10760"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d4976f4-f5f7-40f3-8565-be1eb8600c9a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -80
      ],
      "id": "fae874fd-b019-4632-b87b-890209e0c1ea",
      "name": "Webhook",
      "webhookId": "4d4976f4-f5f7-40f3-8565-be1eb8600c9a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global.api.murf.ai/v1/speech/stream",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_40903a81-6951-4376-8ddf-d7b63eb57923"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "voiceId",
              "value": "Nikhil"
            },
            {
              "name": "style",
              "value": "Conversational"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "locale",
              "value": "en-IN"
            },
            {
              "name": "model",
              "value": "FALCON"
            },
            {
              "name": "format",
              "value": "WAV"
            },
            {
              "name": "sampleRate",
              "value": "24000"
            },
            {
              "name": "channelType",
              "value": "MONO"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -80
      ],
      "id": "d1946841-0619-4da8-a9c6-2cd64da3cecf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"audioFile\": \"{{$json.url}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        -80
      ],
      "id": "048f7d19-e3c9-436c-874a-165d17f478ae",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ff26a002-efd9-4099-ab15-c216887455b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "8xwe1oNiub2UwqvE",
  "tags": []
}