Automated Song Generation.json
{
  "name": "My workflow 17814",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "47a6c680-7cad-411c-976d-71b4b9d1852f",
      "name": "When chat message received",
      "webhookId": "e549a131-0c0f-47d3-9404-62849e140a18"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": " You are a Lyrics Generation Agent.  Your task is to take the user's request and generate complete song lyrics based on their input.  Instructions: - Generate full song lyrics with verses, chorus, and bridge as appropriate - Keep the lyrics relevant to the user's theme/topic - Make the lyrics creative and engaging - Output only the lyrics text, nothing else - No extra formatting, just plain lyrics  Example Input: \"Create a rap song about crypto in a fast style\"  Example Output: [Verse 1] Crypto rising, numbers flying high Blockchain dreams reaching for the sky Bitcoin pumping, altcoins in the race Digital money taking center stage  [Chorus] To the moon we go, never looking back Crypto life, staying on track HODL strong through the ups and downs Digital gold, wearing the crown  [Verse 2] Smart contracts running through the night DeFi protocols burning bright NFTs and tokens everywhere Crypto future beyond compare"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "ae634eb9-2343-4009-a680-03ee662d56c6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        224
      ],
      "id": "b730ec67-1470-4cfa-b72d-86bf792ffae6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cfIrRnHm8ynBwamJ",
          "name": "Google Gemini(PaLM) Api account 10760"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "4e7228db-49cb-4a9e-bd78-64fff2ca926f",
      "name": "Wait",
      "webhookId": "579366bc-7d20-4ffb-8425-5c86093b7cfa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sunoapi.org/api/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer a48cd9a6ebb6f1ce54707d5bcb6f741a"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.text }}"
            },
            {
              "name": "style",
              "value": "Classical"
            },
            {
              "name": "title",
              "value": "Peaceful Piano Meditation"
            },
            {
              "name": "customMode",
              "value": "true"
            },
            {
              "name": "instrumental",
              "value": "true"
            },
            {
              "name": "model",
              "value": "V3_5"
            },
            {
              "name": "negativeTags",
              "value": "Heavy Metal, Upbeat Drums"
            },
            {
              "name": "callBackUrl",
              "value": "https://api.example.com/callback"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "74a3f2d0-cb1f-4d84-89bb-d3687cc7cec1",
      "name": "Create audio Task"
    },
    {
      "parameters": {
        "url": "https://api.sunoapi.org/api/v1/generate/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer a48cd9a6ebb6f1ce54707d5bcb6f741a"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        0
      ],
      "id": "c359336e-5993-4e12-b024-e9cff9d0b109",
      "name": "generate-audio"
    },
    {
      "parameters": {
        "url": "={{$input.first().json.response.sunoData[0].audioUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        0
      ],
      "id": "ac5f356f-7e21-4675-bd66-4fc2c6c89f87",
      "name": "Download Audio"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create audio Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "generate-audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create audio Task": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate-audio": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "139d3229-d751-46c4-8002-7bd5961a2940",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "2NAX48Cy9SfNohCP",
  "tags": []
}